*{
  padding: 0;
  margin: 0;
}
body{
    color: rgb(68, 68, 68);
    font-size: 16px;
}
a.open{
    background-color: #414141;
  border-radius: 5px;
  color: #fff;
  font-size: 1.5em;
  margin: 20px;
  padding: 20px;
  position: absolute;
  text-shadow: 2px 2px 0px #000;
 text-decoration: none;
 -moz-transition:background-color 2s;
}
 a.open: hover{
   background-color: #111;
 }

section.modalDialogx{

  overflow: scroll;
  background: rgba(0, 0, 0, 0.53);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -2;
  -moz-transition:opacity 1s;
}
section.modalDialogx:target{
  opacity: 1;
}

a.close{
 border-radius: 5px;
 color: #222;
 font-size: 14px;
 font-weight: bold;
 line-height: 22px;
 position: absolute;
 right: 5px;
 top: 5px;
 text-align: center;
 text-decoration: none;
 width: 20px;
 padding-right: 30px;
}
a.close:hover{
 background-color: #eee;
}
.sidenavx {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: rgba(86, 76, 76, 0.65);
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenavx a {
    padding: 8px;
    text-decoration: none;
    font-size: 1em;
    color: #423e3e;
    display: block;
    transition: 0.3s;
    padding-right: 30px;
}

.sidenavx a:hover, .offcanvasx a:focus{
    color: red;
}

.sidenavx .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
section.modalx{
 background-color: #fff;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.72);
 border-radius: 5px;
 color: #fff;
 margin: 10% auto;
 padding: 20px;
 position: relative;
 width: 400px;
 -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
 box-shadow: 0 5px 15px rgba(0,0,0,.5);
 -webkit-overflow-scrolling: touch;
}
.modal-headerx .modal-titulox{
    margin-top: 15px;
    margin-bottom: 15px;
}
.text-centerx{
  text-align: center;
}
.modalx.modal-loginx .form-controlx, .modalx.modal-signupx .form-controlx, .modalx.modal-resetpassx .form-controlx {
    font-size: 16px;
    padding-left: 30px;
    position: relative;
}
.modal-contenidox{
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-top: 0;

}
.sr-onlyx {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.notex {
  padding-top: 15px;
  color: #6f6969;
  font-size: 13px;
  margin-bottom: 30px;
  text-align: center;
}
.bluex{
      color: #017ecc !important;
      font-weight: bold;
}
.enviarx{
  background: #88c53a;
  border: 2px solid #88c53a;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  padding: 8px 12px;
  padding-bottom: 10px;
  border-radius: 5px;
  text-align: center;
  display: block;
  width: 100%;
}
.form-groupx{
  margin-bottom: 15px;
  padding-right: 0;
}
.form-controlx {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.modal-headerx{
border: none;
padding: 15px;
}
h1, h2, h3, h4, h5{
 color: #414141;
 font-size:25px;
 margin-bottom: 10px;
 font-weight: bold;
}
p {
  color: #444444;
  font-size: 16px;
}
