doctype html
html 
	head 
		meta(charset='utf-8')
		title Cali | Contenedores
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
		link(rel='stylesheet', type='text/css', href='./client/css/materialize.min.css')
		link(rel='stylesheet', href="https://file.myfontastic.com/eNHTdnS7yKsKbGkf7HwvVT/icons.css")
		link(rel='stylesheet', type='text/css', href='./client/css/menu-profile.css')
		link(rel='stylesheet', type='text/css', href='./client/css/footer.css')
		link(rel='stylesheet', type='text/css', href='./client/css/containers.css')
	body 
		include ./blocks/menu-profile.pug
		section.containers-container
			.container
				.row.row-principal
					.col.s12.flex-row-wrap
						p Oferta actual
				.row.row-principal
					.col.s12.m6.col-offers
						.offers
							.offers-header
								.row.flex-row-wrap
									.col.s4.m6
										.country.peru
									.col.s8.m6
										p Peru
										p Microlotes de 84 y mas
								.row
									.col.s12
										p Entrega estimada : Mediados de diciembre
							.offers-footer
								.row
									.col.s12
										p Destino: Europa
								.row
									.col.s12
										p Pide tu producto hasta el 10 de diciembre de 2016
								.row
									.col.s12.flex-row-wrap
										a(href='#').btn Ver Todoos
				.row.row-principal
					.col.s12.flex-row-wrap
						p Proximas ofertas
				.row.row-principal
					.col.s12.m6.col-upcomming-offers
						.upcomming-offers
							.row.flex-row-wrap
								.col.s12.flex-row-wrap
									.country.peru
								.col.s12.flex-column-wrap
									p Brasil a Europa
									p Fecha estimada de entrega: Mediados de setiembre
									p Fecha estimada de entrega: Principios de diciembre
					.col.s12.m6.col-upcomming-offers
						.upcomming-offers
							.row.flex-row-wrap
								.col.s12.flex-row-wrap
									.country.peru
								.col.s12.flex-column-wrap
									p Brasil a Europa
									p Fecha estimada de entrega: Mediados de setiembre
									p Fecha estimada de entrega: Principios de diciembre
				.row.row-principal
					.col.s12.flex-row-wrap
						p Productos ya entregados
				.row.row-principal
					.col.s12.m6.l4.col-products-delivered
						.products-delivered
							.row.flex-row-wrap
								.col.s8.m6
									p Costa Rica a Europa
									p Microlotes de 84 y mas
								.col.s4.m6
									.country.peru
					.col.s12.m6.l4.col-products-delivered
						.products-delivered
							.row.flex-row-wrap
								.col.s8.m6
									p Costa Rica a Europa
									p Microlotes de 84 y mas
								.col.s4.m6
									.country.peru
					.col.s12.m6.l4.col-products-delivered
						.products-delivered
							.row.flex-row-wrap
								.col.s8.m6
									p Costa Rica a Europa
									p Microlotes de 84 y mas
								.col.s4.m6
									.country.peru
					.col.s12.m6.l4.col-products-delivered
						.products-delivered
							.row.flex-row-wrap
								.col.s8.m6
									p Costa Rica a Europa
									p Microlotes de 84 y mas
								.col.s4.m6
									.country.peru
					.col.s12.m6.l4.col-products-delivered
						.products-delivered
							.row.flex-row-wrap
								.col.s8.m6
									p Costa Rica a Europa
									p Microlotes de 84 y mas
								.col.s4.m6
									.country.peru
					.col.s12.m6.l4.col-products-delivered
						.products-delivered
							.row.flex-row-wrap
								.col.s8.m6
									p Costa Rica a Europa
									p Microlotes de 84 y mas
								.col.s4.m6
									.country.peru
					.col.s12.m6.l4.col-products-delivered
						.products-delivered
							.row.flex-row-wrap
								.col.s8.m6
									p Costa Rica a Europa
									p Microlotes de 84 y mas
								.col.s4.m6
									.country.peru
		include ./blocks/footer.pug

		script(src='./client/js/jquery-3.1.1.min.js')
		script(src='./client/js/materialize.min.js')
		script(src='./client/js/containers.js')