doctype html
html 
	head
		meta(charset='utf-8')
		title Cali
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
		link(rel='stylesheet', href='./client/css/materialize.min.css')
		link(rel='stylesheet', href='https://file.myfontastic.com/eNHTdnS7yKsKbGkf7HwvVT/icons.css')
		link(rel='stylesheet', href='./client/css/main.css')
		link(rel='stylesheet', href='./client/css/menu.css')
		link(rel='stylesheet', href='./client/css/footer.css')
	body
		include ./blocks/menu.pug
		section.cover-page-principal-container
			.cover-page-principal-background
				.container
					.cover-page-principal-content
						.row
							.col.s12
								p FRUTOS DIRECTO DEL CAMPO A TU MESA
						.row
							.col.s12
								p Los mejores frutos del mundo lo encuentras en Cali, a un click de distancia.
								p Los mejores frutos del mundo lo encuentras en Cali, a un click de distancia. <br> Y lo mejor de todo es que puedes pagarlo en la puerta de tu casa.
						.row
							.col.s12
								a(href='#').btn.waves-effect.waves-light Lo quiero
			span.icon-angle-down
		section.in-the-media
			.container
				.row
					.col.s12.flex-row-wrap
						p CALI EN LOS MEDIOS
				.row
					.col.s12.flex-row-wrap
						img(src='./client/img/startup_peru.png')
		section.offers-container
			.container
				.row
					.col.s12.flex-row-wrap
						p OFERTAS
				.row.flex-row-wrap
					.col.s12.m6.l4.flex-column-wrap
						.country.peru
						.offer-information.flex-column-wrap
							p Esparragos
							p Lima - Perú
							a(href='#').btn Más Info
					.col.s12.m6.l4.flex-column-wrap
						.country.peru
						.offer-information.flex-column-wrap
							p Esparragos
							p Lima - Perú
							a(href='#').btn Más Info
					.col.s12.m6.l4.flex-column-wrap
						.country.peru
						.offer-information.flex-column-wrap
							p Esparragos
							p Lima - Perú
							a(href='#').btn Más Info
		section.coffee-supplies
			.container
				.row
					.col.s12.flex-row-wrap
						p ABASTECIMIENTO DE CAFÉ
				.row
					.col.s12.m6.l3.flex-column-wrap
						.step-image.step1-image
						.step-info
							p.number.flex-row-wrap 1
							p Pide las muestras en linea, serán enviadas dentro de algunos días habiles
					.col.s12.m6.l3.flex-column-wrap
						.step-image.step2-image
						.step-info
							p.number.flex-row-wrap 2
							p Pruebe, reseñe y pida su café
					.col.s12.m6.l3.flex-column-wrap
						.step-image.step3-image
						.step-info
							p.number.flex-row-wrap 3
							p Lleva unas seis semanas que su café cruce el océano y le sea entregado
					.col.s12.m6.l3.flex-column-wrap
						.step-image.step4-image
						.step-info
							p.number.flex-row-wrap 4
							p Disfrute y conecte a sus clientes con el productor
		section.photos
			.container
				.row
					.col.s12.flex-row-wrap
						p CALI EN INSTAGRAM
				.row
					.col.s12
						blockquote.embedly-card(data-card-key='73efd533df204cf3b2a446c8f2e36f18')
							h4
								a(href='https://www.instagram.com/p/BLIvz8Gh7rT/?taken-by=algrano.coffee')
									| It seems there is an intruder! Picture taken by Keith Pech from Damarli Estate in #Panama. This yellow bourbon doesn't know yet how it will be processed as Keith is doing many post processing experiences. #unchaincoffeesupply #connectwithgrowers #coffeeproduction #coffeeculture #coffeetrade #worldcoffee #specialtycoffee #coffeebrewing #coffeeroasting #coffeeproducer #seedtocup
							p See this Instagram photo by @algrano.coffee * 2 likes
				.row
					.col.s12
						blockquote.embedly-card(data-card-key='73efd533df204cf3b2a446c8f2e36f18')
							h4
								a(href='https://www.instagram.com/p/BK2qVFEBri6/?taken-by=algrano.coffee')
									| #nofilter Pure red gold! Picture taken by Alejandro Barco, #colombiancoffee grower. #coffeeproduction #coffeeculture #colombia #specialtycoffee #beantocup #nature #coffeeroasting #coffeefarm #coffeeproducer #ditecttrade #microlot #seedtocup #coffeegrowers #connectwithgrowers
							p See this Instagram photo by @algrano.coffee * 63 likes
				.row
					.col.s12
						blockquote.embedly-card(data-card-key='73efd533df204cf3b2a446c8f2e36f18')
							h4
								a(href='https://www.instagram.com/p/BLIvz8Gh7rT/?taken-by=algrano.coffee')
									| It seems there is an intruder! Picture taken by Keith Pech from Damarli Estate in #Panama. This yellow bourbon doesn't know yet how it will be processed as Keith is doing many post processing experiences. #unchaincoffeesupply #connectwithgrowers #coffeeproduction #coffeeculture #coffeetrade #worldcoffee #specialtycoffee #coffeebrewing #coffeeroasting #coffeeproducer #seedtocup
							p See this Instagram photo by @algrano.coffee * 2 likes
				.row
					.col.s12
						blockquote.embedly-card(data-card-key='73efd533df204cf3b2a446c8f2e36f18')
							h4
								a(href='https://www.instagram.com/p/BK2qVFEBri6/?taken-by=algrano.coffee')
									| #nofilter Pure red gold! Picture taken by Alejandro Barco, #colombiancoffee grower. #coffeeproduction #coffeeculture #colombia #specialtycoffee #beantocup #nature #coffeeroasting #coffeefarm #coffeeproducer #ditecttrade #microlot #seedtocup #coffeegrowers #connectwithgrowers
							p See this Instagram photo by @algrano.coffee * 63 likes
		section.shipping-arrangements
			.container
				.row
					.col.s12.flex-row-wrap
						p MODALIDADES DE ENVÍO
				.row
					.col.s12.l6
						.modality
							p En la Unión Europea y Suiza
							p Si usted es un tostador que se encuentra en cualquiera de los países continentales de la Unión Europea (inclusive Reino Unido) o en Suiza, un camión entregará su orden en su domicilio.
					.col.s12.l6
						.modality
							p Fuera de la Unión Europea
							p Si usted es un tostador que se encuentra fuera de la Unión Europea, deberá retirar el café en el almacén de Bremen, Alemania.
		section.community
			.container
				.row
					.col.s12.flex-row-wrap
						p LA COMUNIDAD EN CIFRAS
				.row
					.col.s12.m4.flex-column-wrap
						p 268
						p Productores
					.col.s12.m4.flex-column-wrap
						p 469
						p Tostadores
					.col.s12.m4.flex-column-wrap
						p 65
						p Países
		section.what-they-say
			.container
				.row
					.col.s12.flex-row-wrap
						p LO QUE DICEN DE NOSOTROS
				.row
					.col.s12
						p 
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
						p Jose Vasquez, CIO WidoLab
				.row
					.col.s12.flex-row-wrap
						span.icon-angle-left.flex-row-wrap
						span.icon-angle-right.flex-row-wrap
		section.join-up
			.container
				.row
					.col.s12.flex-row-wrap
						p ¡FORMA PARTE DE LA COMUNIDAD!
				.row
					.col.s12.flex-row-wrap
						a(href='#').btn.waves-effect.waves-light Unirme	
		include ./blocks/footer.pug
		
		script(src='./client/js/jquery-3.1.1.min.js')
		script(src='./client/js/materialize.min.js')
		script(src='./client/js/main.js')
		script(async='', src='//cdn.embedly.com/widgets/platform.js', charset='UTF-8')