footer
	.footer-background
		.container
			.social-networks
				.row
					.col.s12.flex-row-wrap
						a(href='#').icon-facebook
						a(href='#').icon-twitter
						a(href='#').icon-instagram
			.other-links
				.row
					.col.s6.m3.flex-column-wrap
						p PRODUCTO
						ul 
							li 	
								a(href='#') Pagina de inicio
							li 
								a(href='#') Tarificación
							li 
								a(href='#') Funcionalidades	
							li 
								a(href='#') Últimas actualizaciones
					.col.s6.m3.flex-column-wrap
						p ACERCA DE NOSOTROS
						ul 
							li
								a(href='#') ¿Quienes Somos?
							li 
								a(href='#') Blog
							li 
								a(href='#') Prensa
							li 
								a(href='#') Contacto
					.col.s6.m3.flex-column-wrap
						p AYUDA
						ul 
							li 
								a(href='#') Preguntas frecuentes
							li 
								a(href='#') Términos y condiciones
					.col.s6.m3.flex-column-wrap
						p IDIOMA
						ul 
							li 
								a(href='#') Inglés
							li 
								a(href='#') Español
			.copyright.flex-row-wrap
				.row
					.col.s12.flex-row-wrap
						p &copy Cali. Todos los derechos reservados
