header 
	nav 
		.nav-wrapper
			.container
				a(href='index.html').brand-logo Cali
				a(href='#', data-activates='mobile-demo').button-collapse.flex-column-wrap
					span.icon-menu
				ul.right.hide-on-med-and-down
					li 
						a(href='#') Encuentre productores
					li 
						a(href='#') Contenedores
					li 
						.photo-profile
						p Joaquin Gonzales
						span.angle-down
				ul#mobile-demo.side-nav
					li 
						a(href='#') Encuentre productores
					li 
						a(href='#') Contenedores
					li 
						.photo-profile
						p Joaquin Gonzales
						span.angle-down
