header
	nav
		.nav-wrapper
			.container
				a(href='index.html').brand-logo Cali
				a(href='#', data-activates='mobile-demo').button-collapse
					span.icon-menu
				ul.right.hide-on-med-and-down
					li
						a(href='login.html') Ingresar
					li
						a(href='prices.html') Precios
					li
						a(href='features.html') Funcionalidades
				ul#mobile-demo.side-nav
					li
						a(href='#') HOME
					li
						a(href='login.html') INGRESAR
					li
						a(href='prices.html') PRECIOS
					li
						a(href='features.html') FUNCIONALIDADES